<div class="span6 offset3">

    <div class="boxy" id="mainbox">

         <h1 class="custom-font">Hi, I'm Matt</h1>

<p>Upload your own picture ... and <em>nothing</em> else happens!
	<p>

<%= link_to('Check out my App', '#', :class => 'btn btn-success btn-large') %>


</div>
</div>
