<div class="span6 offset3">

<div class="boxy" id="mainbox">

<h1 class="custom-font">Hi, I'm Matt</h1>

<p>I'm having fun with Rails. Except for install...
	<p>
Let's try <b>BOLD</b>.
<p></p>
Now <em>Italic</em>.
<p>
<%= link_to('Check out my App', '#', :class => 'btn btn-success btn-large') %>


</div>
</div>
