<div class="hero-unit">
	<h1>Here are all the pictures</h1>
	<% @pics.each do |pic| %>

	Emotion: <%= pic.emotion %>
</p >
	Learned: <%= pic.learned %>
</P>
	Hour: <%= pic.hour %>
</p>

<% end %>
<br />
</div>

<%= link_to 'New Pic', new_pic_path %>








