
	<h1 class = "custom-pic-header">Here are all the pictures</h1>

	<% @pics.each do |pic| %>
    <div class="span3">

	    <div class="boxy">

			<h4>Hour:</h4> <em><%= pic.hour %></em>
    		
			<h5>Emotion:</h5> <em><%= pic.emotion %></em>
    		   		
			<h5>Learned:</h5><em> <%= pic.learned %></em>
			
    		</P>
	
    	</div>
	</div>
    
    <% end %>
    <br />
</div>




